img {
    width: 20%;
    margin: 0px auto;
    display: inline-block;
}
.content p {
    display: inline-block;
    color: blue;
}
h2 {
    color: orangered
}

p {
    display: inline-block;
    color: rgb(115, 41, 138)
}
h1 {
    color: orangered;
}
.content {
    display: inline-block;
}
div {
    display: inline-block;
}

#navbar1 {
    background: 
    linear-gradient(-50deg, #ffdbdb, palevioletred, #ffc9c9);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
    
#navbar1 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar1 h1 {
    color: white 
}

ul {
    color: purple;
}