* {
    box-sizing: border-box
}
    
body {
    margin: 0px;
    font-family: cursive;
    background: 
        linear-gradient(-50deg, #ffdbdb, #fff7f7, #ffc9c9)
    ;
}

#navbar1 {
    background: 
    linear-gradient(-50deg, #ffdbdb, palevioletred, #ffc9c9);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
    
#navbar1 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar1 h1 {
    color: white 
}
    