* {
    box-sizing: border-box
}
    
body {
    margin: 0px;
    font-family: cursive;
    background: 
        linear-gradient(-50deg, #ffdbdb, #fff7f7, #ffc9c9)
    ;
}

#layout {
    max-width: 800px;
    margin: 36px auto;
    text-align: center;
}

h3 {
    color: blueviolet;
}
h1 {
    color: blueviolet;
}

.graphic-design-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
    
.graphic-design-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}
    

    
    