* {
    box-sizing: border-box;}
    
body {
    margin: 0px;
    font-family: sans-serif;
}
    
#navbar {
    background: linear-gradient(to bottom, #b89110,#96760e);
    display: flex;
    align-items: center;
}
    
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
    
#navbar a:hover {
    background: linear-gradient(to top, #130f03,rgb(150, 141, 14));
}
    
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
    
.dropdown-container {
    position: relative;
}
    
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.25s,visibility 0.25s;
}
    
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}
    
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
    
.dropdown-menu a {
    background-color: rgb(139, 108, 61);
    width: 100%;
    min-width: 200px;
}
    
#navbar .dropdown-menu a:hover {
    background: rgb(139, 108, 61);
}

#hero-1 {
    background-image: url("../images/hero1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;justify-content: flex-start;
    align-items: center;
}
    
#hero-1 h1 {
    font-size: 14vw;
    padding-left: 10vw;
    color: white;
    margin-bottom: auto;
}

.single-column {
    background-color: rgb(139, 108, 61);
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(139, 108, 61);
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}

