* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family: sans-serif;
}
    
#navbar1 {
    background-color: #61714d;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
    
#navbar1 a {
    text-decoration: none;
    color: #c2a887;
    padding: 24px;
}
#navbar1 h1 {
    color: #c2a887 
}

#navbar2 {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
    
#navbar2 a {
    text-decoration: none;
    color: red;
    padding: 24px;
}
    
#navbar2 h1 {
    color: red;
}
    
#navbar2 .cta-button {
    background-color: white;
    color: red;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar-bottom {
    background: linear-gradient(to bottom, red, orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-bottom a {
    text-decoration: none;
    color: black;
    padding: 24px;
}
#navbar-bottom .cta-button {
    background-color: black;
    color: orangered;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
    
#navbar-last a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}
#navbar-last {
    background: linear-gradient(to bottom, purple, green);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
#navbar-last a {
    text-decoration: none;
    color: black;
    padding: 12px 36px;
}
    