/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.card-style-2 {
       width: 350px;
       height: 520px;
        border: 2px white;
        box-shadow: 4px -4px 12px black;
        background-color: white;
        margin: 24px;
        border-radius: 40px;
        text-align: center;
}
.card-style-2 img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 24px;
}
#animagram-card-1 {
    text-align: center;
}
.animagram-footer {
    flex: 1;
    padding: 36px;
    text-align: center;
    margin: 36px;
    display: block;
    font-weight: bold;
    padding-bottom: 12px;
}
.animagram-header {
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 5vw 10vh 0px;
    justify-content: space-between;
}
.brand-name {
    text-align: right;
}