/* Google Font API imports - found at https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Secular+One&display=swap');

/*****************************************************************************
  Heading, Link, and Misc. Styles
*****************************************************************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.card h1, .card h2, .card h3, .card a { 
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
}

h1 {
    font-size: 1rem;
    margin-bottom: 0px;
}

h3 {
    font-size: 18px;
    margin-top: 4px;
}

a {
    text-decoration: none;
}

#nav, #nav a, #footer a {
    color: indigo;
}

#nav a:hover, #footer a:hover {
    color: purple;
    text-decoration: underline;
}

#footer ul {
    width: 80vw;
    max-width: 1000px;
    margin: 0px auto;
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 25px 0px;
    justify-content: center;
}

/****************************************************************************
  Nav/Footer styles
****************************************************************************/
#nav {
    align-items: center;
    display: flex;
    margin: 0px 24px;
    min-height: 50px;
}

#footer {
    display: flex;
    justify-content: center;
}

#nav-links {
    justify-content: center;
}

#nav-links, .social-media {
    display: flex;
    list-style-type: none;
}

#nav-links li, .social-media li {
    padding: 0px 4px;
}

#nav .social-media {
    justify-content: flex-end;
    padding-left: 0px;
}

.social-media i {
    font-size: 20px;
}

#nav, #nav a, #footer a {
    color: indigo;
}

#nav a:hover, #footer a:hover {
    text-decoration: underline;
}

#nav ul, #nav h2 {
    flex: 1;
    margin: 0px;
    padding: 0px;
}

/****************************************************************************
  Content Container styles
****************************************************************************/

#content-container {
    max-width: 1000px;
    margin: 0px auto;
}

/****************************************************************************
  Hero styles
****************************************************************************/

#hero {
    background-image: url("../images/abstractBackground.jpg");
    background-size: cover;
    color: white;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
}

#hero h1 {
    font-size: 48px;
}

#hero h3 {
    font-size: 24px;
}

/****************************************************************************
  Link styles
****************************************************************************/

#hero a, .card a {
    background-color: white;
    color: indigo;
    border: 2px solid indigo;
    border-radius: 24px;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    min-width: 150px;
    transition: transform 0.25s;
}

#hero a:hover, .card a:hover {
    transform: scale(1.05);
}

/****************************************************************************
  Card styles
****************************************************************************/
.three-cards, .two-cards {
    display: flex;
}

.card {
    border: 2px solid indigo;
    color: indigo;
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    text-align: center;
    box-shadow: 4px 4px 8px 0px grey;
    flex: 1;
}

.card p {
    font-size: 18px;
}

.three-cards {
    align-items: center;
    margin-top: 48px 0px;
}

.two-cards {
    align-items: center;
    margin: 48px 0px;
}

.two-cards .card {
   border: 0px;
   box-shadow: none;
   display: flex;
   flex-direction: column;
}

.two-cards .card img {
    width: 100%;
}

/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/

/* TODO: Add your media query code here */
@media screen and (max-width: 768px) 
{
    .two-cards, .three-cards {
    display: flex;
    flex-direction: column;
    }
    #nav {
    display: flex;
    flex-direction: column;
    }
    #hero {
        font-size: 1.125rem;
    }
}