div {
    border: 10px dashed red;
    margin: 24px 0px;
    padding: 24px 36px;
    background-color: lightcoral;
    border-bottom-color: purple;
    border-left-color: blue;
    border-top: none;
}
p {
    margin: 60px;
    padding: 48px 60px;
    background-color: cornflowerblue;
    border-radius: 48px;
}