/* Drill 1 - Write your code solution below */
.solution .d1-div {
    display: inline;
}

/* Drill 2 - Write your code solution below */
.d2-span {
    display: block;
}


/* Drill 3 - Write your code solution below */
.d3-div {
    display: inline-block;
}


/* Drill 4 - Write your code solution below */
.d4-div {
    display: inline-block
}


/* Drill 5 - Write your code solution below */
.d5-div {
    width: 200px;
    display: inline-block
}


/* Drill 6 - Write your code solution below */
.d6-div1 {
    display: inline;
}
.d6-div2 .d6-div3 {
    display: inline-block
    widht: 200px;
}
