* {
    box-sizing: border-box
}
    
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}
    
#hero-1 {
    background-image: url("../images/christmashero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    justify-content: flex-start;
    align-items: center;
}
    
#hero-1 h1 {
    font-size: 8vw;
    padding-left: 10vw;
    color:red;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#layout h1 {
    color: darkgreen;
}
#layout h3 {
    color: red;
}

.its-christmas-time-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
    
.its-christmas-time-gallery img {
    height: 250px;
    flex: 1;
    object-fit: cover;
}